/*margin assistance from TA Jacob, not too familiar with how asterisk is functioning here*/
* { padding:0;
    margin:0;
}

/*This is a no-no, fix this*/
body {
    background-image: url("../images/prism.png");
    overflow: auto;
}

/*The margins here lower the Bio container*/
.header {
    background-color: #ffffff;
    border-bottom: solid 3px #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 50px;
    height: 75px;   
}

/*Applying RESET- font-size, text-align left, padding-left, top, bottom, dropped width from 350*/
.name {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 290px;
    padding-top: 24px;
    padding-left: 20px;
    padding-bottom: 23px; 
    float: left;
    text-align: left;
    font-size: 175%;
    font-weight: bold;
}

.nav {
    position: relative;
    top: 20px;
    margin: 10px;
    float: right;
    font-size: 80%;
    letter-spacing: 0.025em;
}

.nav:after {
    clear:both;
}

/*YOU ARE CURRENTLY EFFECTING ALL LINKS*/
a {
    font-family: "Arial";
}

a:link {
    text-decoration: none;
    color: inherit; 
}

a:visited {
    text-decoration: none;
    color: inherit; 
}


h1 {
    background-color: #4aaaa5;
    color: white;
}

.h2 {
    color: #4aaaa5;
    background-color: #ffffff;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 910px;
    margin: auto;
    border-bottom: solid 2px #cccccc;
    font-size: 125%;
    font-weight: bold;
}

/*Adding float-left gives correct alignment*/
.bioimage {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 20px;
    float: left;
}

/*Adding float-left breaks, just picture*/
.biotext {
    margin-top: 20px;
    line-height: 1.8em;
    padding-left: 40px;
    padding-right: 20px;

}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #666666;
    color: white;
    border-top: solid 8px;
    border-color: #4aaaa5

}

.footcenter {
    text-align: center;
    position: relative;
    font-family: "Arial", "Helvetica Neue", 
    Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 65%;
}

/* Removing pad-L/R: 50px to math out inner
content of 960px container*/
.container {
    padding-bottom: 50px;
    padding-top: 40px;
    background-color: #ffffff;
    border-color: #dddddd;
    width: 960px;
    margin: auto;
    font-family: "Arial", "Helvetica Neue", 
    Helvetica, sans-serif;

}

/*These are your Contact-specific CSS*/
/*coding borrowed from W3 schools input fields*/

input {
    width: 93%;
    padding: 7px;
    font-size: 14px;
}

.input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
form {
    padding-left: 25px;
    width: 100%;
}

label {
    padding-top: 40px;
}


textarea {
    height: 100px;
    width: 94.7%;

}


.submit {
        display: block;
        background-color: #4aaaa5;
        padding: 10px 30px;
        color: #ffffff;
        font-size: 14px;
}

/*These are the CSS for the portfolio page*/

/*This is the class for the picture container/link. Add link functionality?*/
.portbox {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    border:  #4aaaa5 3px solid;
    margin: 20px;
}


/*This is the class for your portfolio pictures.*/
.portpics { 
    padding: auto; 
    width: 200px;
    height: 200px;

}

/*This is the class for the picture text boxes.*/
/*Fading code borrowed from bavotasan.com*/
.porttext {
    position: absolute;
    background-color:  #4aaaa5;
    color: white;
    bottom: 10%;
    text-align: center;
    padding: 5px 10px;
    width: 90%;
    opacity: .8;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;

}

/*Switching default opacity to less than 1 creates minor fade, hover for full opacity*/
.porttext:hover {
    font-size: 110%;
    opacity: 1;
}

/*Obsolete, erroneous, or "fix-it" codes below*/

/*Creating pixel width 960 for containers*/
.size960 {
    width: 960px;
    margin: auto;
    
}
/*Clearing floats that seem to break everything without this*/
.allclear {
    clear: both;
}

/*Quick fix for p tags in form container*/
.space {
    margin-bottom: 5px;
}

/*Attempting to isolate border issues, border exists until given attributes*/
.container h2 {
    border-color: #cccccc;
    border-bottom-style: solid;
}
/*test code for display:block and display:inline*/
.block {
    display: block;
}

.inline {
    display: inline;
}
/*Attempting to add Konami code to page.
https://www.instructables.com/id/How-to-Add-Konami-Code-to-Your-Website/*/

